<div style="text-align: center;">
  <h1>Find the Missing Number in the Series</h1>
  <app-q1></app-q1>
</div>

<div>
  <h1  style="text-align: center;">Create a dynamic component in Angular which has nested components in the
    following manner:</h1>
  <app-x></app-x>
</div>

<div>
  <h1  style="text-align: center;">Create a dynamic component in Angular which has nested components in the
    following manner:</h1>
    <app-phone-number-form></app-phone-number-form>
  
</div>
<div>
  <h1  style="text-align: center;">Create a dynamic component in Angular which has nested components in the
    following manner:</h1>
    <app-main-div></app-main-div>
  
  </div>